body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header,
.footer,
.intro {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
}

ul {
    margin-left: auto;
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
    padding: 15px;
}

h2 {
    margin: 35px
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    color: #1f2937;
}

.footer {
    margin-top: auto;
    justify-content: center;
    padding: 20px
}

.intro,
.quote,
.action-container {
    flex: 1;
}




.text-and-button {
    display: flex;
    flex-direction: column;
    align-items: start;
}



img.left {
    max-height: 100%;
}

.quote,
.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    width: 1200px;
    border-radius: 5px;
    background-color: #3882f6;
    display: flex;
    /* flex: auto; */
}

.call-to-action button {
    align-self: flex-end;
}

.header {
    max-height: 55px;
}


.quotee {
    align-self: flex-end;
}

.center {
    display: flex;
    width: 400px;
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    border: solid 1px #f9faf8;
}

.character {
    display: flex;
    flex-direction: column;
    width: 175px;
    align-items: center;
}

.description {
    text-align: center;
    padding: 6px;
}

.intro {
    justify-content: center;
    align-items: center;
}

.hero-and-image {
    display: flex;
    margin: 70px 0px;
}

.image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.image-container img {
    width: 175px;
    height: 175px;
    background-image: url("./images/background.webp");
    background-position: bottom 32% left 15%;
    border: solid #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.image-container {
    margin-bottom: 50px;
}



.left-edge,
.right-edge {
    flex: 1 1 150px;
}

.top-center {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.dark-blue-top {
    background-color: #1f2937;
    flex: 1;
    display: flex
}